{% extends "base.html" %}

{% block start %}


<section>
    <div class="container">
       
        <div class="row text-center">
            <div class="col-xl-10 mx-auto"><img class="img-fluid mb-5"
                    src="/media/{{blog_obj.image}}"
                    alt=""></div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content">
                    {{blog_obj.content|safe}}
                </div>
            </div>
        </div>

        <!-- Comment Form -->
   {% if user.is_authenticated %}
   <div class="card my-4">
       <h5 class="card-header">Leave a Comment:</h5>
       <div class="card-body">
           <form method="POST" action="{% url 'add_comment' user.id %}">
               {% csrf_token %}
               <div class="form-group">
                   <textarea class="form-control" name="text" rows="3" required></textarea>
                   <input type="hidden" name="user_id" value="{{user.id}}">
               </div>
               <button class="btn btn-primary" type="submit">Comment</button>
           </form>
       </div>
   </div>
   {% else %}
   <a href="{% url 'login_view' %}" class="btn btn-success btn-lg btn-block mb-4">
       Sign In for comment.
   </a>
   {% endif %}
      <!-- Single Comments -->
      {% for comment in post.comments.all %}
      {% if comment.approved_comment %}
      <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle article-img" src="{{ comment.author.profile.image.url }}" alt="">
          <div class="media-body">
              <h5 class="mt-0"><a href="{% url 'user_posts' comment.author.username %}">{{ comment.author }}</a></h5>
              {{ comment.text|linebreaks }}
              <hr>
          </div>
      </div>
      {% else %}
      <div class="alert alert-secondary" role="alert">
          No Comment has been posted.
      </div>
      {% endif %}
      {% endfor %}
    </div>

   

</section>



{% endblock %}